    /*common a1 -here i styled the  h3,h4 & p */
 .a1 h3{
	line-height:1.5rem;
	font-size:0.8rem;
	font-weight:bold;
}
 .a1 p{
	text-indent:2rem;
	font-size:0.9rem;
	line-height:1.25rem;
}
.a1 h4{
	font-size:0.8rem;
	font-weight:900;
	line-height:1.5rem;
}
@media(min-width:760px){
  .a1 h3{
	line-height:1.5rem;
	font-size:1.25rem;
	font-weight:bold;
  }
 .a1 p{
	text-indent:2rem;
	font-size:1.25rem;
	line-height:1.5rem;
}
.a1 h4{
	font-size:1rem;
	font-weight:900;
	line-height:1.7rem;
}
}
@media(min-width:1024px){
	.a1 h3{
	line-height:2rem;
	font-size:1.25rem;
	font-weight:bold;
  }
 .a1 p{
	text-indent:2rem;
	font-size:1.3rem;
	line-height:1.75rem;
	
  }
  .a1 h4{
	font-size:1.25rem;
	font-weight:900;
	line-height:3rem;
}
}
/*class a1 -styled h3,h4 & p for all divisons*/

   /* Head name start*/
.container{
  margin:40px 30px;
}
.name{
	text-align:center;
}
.name h2{
	font-size:1.5rem;
}
.name p{
	color:blue;
	font-size:1rem;
}
.email{
	display:flex;
	line-height:1.5rem;
	justify-content:center;
	
}
.blue {
	color:blue;
}
.email p{
	font-size:0.9rem;
}

@media(min-width:760px){
.container{
  margin:40px 40px;
}
.name{
	text-align:center;
}
.name h2{
	font-size:1.5rem;
}
.name p{
	color:blue;
	font-size:1rem;
}
.email{
	display:flex;
    justify-content:center;
	line-height:1.5rem;
}
.email p{
	font-size:1.2rem;
}
}
@media(min-width:1024px){
.container{
  margin:auto;
  width:85%;
}
.name{
	text-align:center;
}
.name h2{
	font-size:2rem;
}
.name p{
	color:blue;
	font-size:1.5rem;
}
.email{
	display:flex;
    justify-content:center;
	line-height:3 rem;
}
.email p{
	font-size:1.5rem;
}
}
/* Head name start*/

/*carrier-objective start*/
.carrier-objective h3{
	line-height:1.5rem;
	font-size:0.8rem;
	margin:10px 0px;
}
.carrier-objective p{
	text-indent:2rem;
	font-size:0.9rem;
	line-height:1.25rem;
}
@media(min-width:760px){
	.carrier-objective h3{
	line-height:1.5rem;
	font-size:1.25rem;
  }
.carrier-objective p{
	text-indent:2rem;
	font-size:1.25rem;
	line-height:1.75rem;
  }
}
@media(min-width:1024px){
	.carrier-objective h3{
	line-height:2rem;
	font-size:1.25rem;
  }
.carrier-objective p{
	text-indent:2rem;
	font-size:1.3rem;
	line-height:2.5rem;
  }
}
/*carrier-objective end*/

/*Academic*/
.academic h3{
	margin:10px 0px;
	line-height:1rem;
}

/*Skill development start*/
.skill ul {
	list-style-type:disc;
	
}
.skill table{
	border:1px solid black;	
	width:100%;

}
.skill table td{
	border:1px solid black;
	padding:5px;
}
.skill li{
	margin-left:20px;
}
.skill .va{
	vertical-align:middle;
}
.skill h3{
	text-align:left;
	font-size:0.8rem;
	font-weight:bold;
	line-height:2rem;
}
.skill h4{
   font-size:0.8rem;
   font-weight:bold;
   line-height:1rem;
}
.skill p,li{
	 font-size:0.8rem;
	 line-height:1rem;	 
}

@media(min-width:760px){
	.skill h3{
	text-align:left;
    font-size: 1.25rem;
	font-weight:bold;
	line-height:2rem;
}
.skill h4{
  font-size: 1.25rem;
    font-weight: 900;
    line-height: 1.7rem;
}
.skill p,li{
	 font-size: 1.25rem;
    line-height: 1.5rem;	 
}
}
@media(min-width:1024px){
	.skill h3{
	text-align:left;
    font-size: 1.25rem;
	font-weight:bold;
	line-height:2rem;
}
.skill h4{
  font-size: 1.25rem;
    font-weight: 900;
    line-height: 1.7rem;
}
.skill p,li{
	 font-size: 1.25rem;
    line-height: 1.5rem;	 
}
.skil li{
  margin-left:64px;
}
}
/*skill development end*/


/*Technical skill start*/
.technical h3{
	text-align:left;
	line-height:2rem;
}

.technical table{
	width:100%;
}
.technical h4{
	padding:5px;
}
.technical p{
	text-indent:0px;
	color:blue;
}
/*Techinical skill end*/

/*projects start*/
.projects caption{
	text-align:left;
	line-height:2rem;
}
.projects table tr{
	border:1px solid black;
	
}
.projects table td{ 
   padding-left:10px;
}
.projects ul {
	list-style-type:disc;
	padding-left:20px;
}
.projects table{
	width:100%;
	margin-bottom:2rem;
}
@media (min-width:760px){
.projects h4{
	font-size:1.25rem;
}
}
 /*projects end*/
 
/*declaration*/
.declaration p{
	text-indent:0px;
}
