    /*common a1 -here i styled the  h3,h4 & p */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.container{
	padding: 3rem !important;
}
 .a1 h3{
	line-height:1.5rem;
	font-size:0.8rem;
	font-weight:bold;
}
 .a1 p{
	font-size:0.9rem;
	line-height:1.25rem;
}
.a1 h4{
	font-size:0.8rem;
	font-weight:900;
	line-height:1.5rem;
}
@media(min-width:760px){
  .a1 h3{
	line-height:1.5rem;
	font-size:1.25rem;
	font-weight:bold;
  }
 .a1 p{
	font-size:1.25rem;
	line-height:1.5rem;
}
.a1 h4{
	font-size:1rem;
	font-weight:900;
	line-height:1.7rem;
}
}
@media(min-width:1024px){
	.a1 h3{
	line-height:2rem;
	font-size:1.25rem;
	font-weight:bold;
  }
 .a1 p{
	font-size:1.2rem;
	line-height:1.75rem;
	
  }
  .a1 h4{
	font-size:1.25rem;
	font-weight:900;
	line-height:3rem;
}
}
/*class a1 -styled h3,h4 & p for all divisons*/

   /* Head name start*/
.container{
  margin:40px 30px;
}
.name{
	text-align:center;
	margin-top: rem;
}
.name h2{
	font-size:1.5rem;
}
.name p{
	color:blue;
	font-size:1rem;
}
.email{
	display:flex;
	line-height:1.5rem;
	justify-content:center;
	
}
.blue {
	color:blue;
}
.email p{
	font-size:0.9rem;
}

@media(min-width:760px){
.container{
  margin:40px 40px;
}
.name{
	text-align:center;
}
.name h2{
	font-size:1.5rem;
}
.name p{
	color:blue;
	font-size:1rem;
}
.email{
	display:flex;
    justify-content:center;
	line-height:1.5rem;
}
.email p{
	font-size:1.2rem;
}
}
@media(min-width:1024px){
.container{
  margin:auto;
  width:85%;
}
.name{
	text-align:center;
	margin-top:2rem;
    margin-bottom:10px;

}
.name h2{
	font-size:1.8rem;
	margin-bottom: 10px;
}
.name p{
	color:blue;
	font-size:1.5rem;
}
.email{
	display:flex;
    justify-content:center;
	line-height:3 rem;
}
.email p{
	font-size:1.3rem;
	margin:0 5px;
}
}
/* Head name start*/

/*carrier-objective start*/
.carrier-objective h3{
	line-height:1.5rem;
	font-size:0.8rem;
	margin:10px 0px;
}
.carrier-objective p{
	
	font-size:0.9rem;
	line-height:1.25rem;
}
@media(min-width:760px){
	.carrier-objective h3{
	line-height:1.5rem;
	font-size:1.25rem;
  }
.carrier-objective p{
	
	font-size:1.25rem;
	line-height:1.75rem;
  }
}
@media(min-width:1024px){
.carrier-objective h3{
	line-height:1rem;
	font-size:1.25rem;
  }
.carrier-objective p{
	text-align: left;
	font-size:1.2rem;
	line-height:2.5rem;
  }
}
/*carrier-objective end*/

/*Academic*/
.carrier-objective{
	margin:1rem 0;
}
.academic h3{
	margin:10px 0px;
	line-height:1rem;
}
.academic{
	margin:2rem 0;
}

/*Skill development start*/
.skill{
	margin:1.5rem 0;
}
.skill ul {
	list-style-type:disc;
	
}
.skill table{
	border:1px solid black;	
	width:100%;

}
.skill table td{
	border:1px solid black;
	padding:5px;
}
.skill li{
	margin-left:20px;
}
.va{
text-align:right;
margin-top: 10px;
}
.skill h3{
	text-align:left;
	font-size:0.8rem;
	font-weight:bold;
	line-height:2rem;
}
.skill h4{
   font-size:0.8rem;
   font-weight:bold;
   line-height:1rem;
}
.skill p,li{
	 font-size:0.8rem;
	 line-height:1rem;	 
}

@media(min-width:760px){
	.skill h3{
	text-align:left;
    font-size: 1.25rem;
	font-weight:bold;
	line-height:2rem;
}
.skill h4{
  font-size: 1.25rem;
    font-weight: 900;
    line-height: 1.7rem;
}
.skill p,li{
	 font-size: 1.25rem;
    line-height: 1.5rem;	 
}
}
@media(min-width:1024px){
	.skill h3{
	text-align:left;
    font-size: 1.2rem;
	font-weight:bold;
	line-height:2rem;
}
.skill h4{
  font-size: 1.2rem;
    font-weight: 900;
    line-height: 1.7rem;
}
.skill p,li{
	 font-size: 1.2rem;
    line-height: 1.5rem;	 
}
.skil li{
  margin-left:64px;
}
}
/*skill development end*/


/*Technical skill start*/
.technical{
margin:3rem 0;
}
.technical h3{
	text-align:left;
	margin-bottom: 20px;
}
.ntr{
 margin:20px 0;
}
.technical table{
	width:100%;
}
.technical h4{
	font-size: 1.2rem;
}
.technical p{
	color:blue;
}
/*Techinical skill end*/

/*projects start*/
.projects{
	margin-top:6.2rem;
}
.projects caption{
	text-align:left;
	line-height:2rem;
}
.projects table tr{
	border:1px solid black;
	
}
.projects table td{ 
   padding-left:10px;
}
.projects ul {
	list-style-type:disc;
	padding-left:20px;
}
.projects table{
	width:100%;
	margin-bottom:2rem;
}
.blue a{
  padding-left: 20px;
}
@media (min-width:760px){
.projects h4{
	font-size:1.25rem;
}
}
.pps a{
	list-style: none;
	text-decoration: none;
	color: black;
}
.pps{
	list-style: none !important;
	text-decoration: none !important;
	color: black !important;
}
 /*projects end*/
 
/*declaration*/
.declaration p{
	text-indent:0px;
}
.personal{
	margin-top: 1rem;
}
